<div id="footer" class="gutter">
  <div class="container">
    <h2 class="header2">321 Contact</h2>
    <p class="paragraph">Feel free to contact me at any reasonable time. I look forward to discussing a potential collaboration or even just have a conversation to see if working together would be a good fit.</p>
    <div class="footer-info-box">
      <a href="tel:561-386-4482" class="info-box-item">
        <div id="phone-bg" class="background">
          <div class="phone"></div>
        </div>
        <p class="paragraph">
          561-386-4482
        </p>
      </a>
      <a href="mailto:thegregoryjohnson@gmail.com" class="info-box-item">
        <div id="envelope-bg" class="background">
          <div class="envelope"></div>
        </div>
        <p class="paragraph">
          Email
        </p>
      </a>
    </div>
  </div>
</div>
