
.cards {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 30px);
  margin: -15px;
  .container {
    border: 1px solid red;
  }
}

.card {
  width:50%;
  @media(max-width:400px) {
    width: 50%;
  }
  padding: 15px;
}
