
<section class="alternating-section gutter">
  <div class="container section-header">
    <h2 class="header2">Featured Work</h2>
  </div>
  <div class="container">
    <ng-container *ngFor="let post of posts">
      <div *ngIf="post.libraries.includes('Featured')" class="alternating-section-item">
        <div class="image-container" [ngStyle]="{'background-image':'url('+ post.images[0].resolutions.desktop.url +')'}">
        </div>
        <div class="text-container">
          <h3 class="header3">{{ post.displayName }}</h3>
          <p class="paragraph">{{ post.summary }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</section>
