.header2 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.header3 {
  @media(max-width: 600px) {
    font-size: 1.8em;
  }
}

//Alternating Section Styles
.alternating-section {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .alternating-section-item {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    @media(max-width: 1023px) {
      flex-direction: column;
      margin-bottom: 30px;
      border-radius: 4px;
    }

    & + .alternating-section-item:nth-child(even) {
      .image-container {
        @media(min-width: 1024px) {
          order: 2;
        }
      }
      .text-container {
        @media(min-width: 1024px) {
          padding-left: 0;
          padding-right: 30px;
        }
      }
    }
  }
}

.image-container {
  background-position: center 66%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #e3e3e3;
  width:50%;
  @media(max-width: 1023px) {
    width:100%;
    border-radius: 4px 4px 0 0;
  }
  &:before {
    display: block;
    content: "";
    padding-top: 47%;
  }
}

.text-container {
  width: 50%;
  @media(max-width: 1023px) {
    width:100%;
    padding: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  @media(min-width: 1024px) {
    padding-left: 15px;
  }
  @media(max-width: 767px) {

  }
  @media(min-width: 768px) {
    padding-left: 30px;
  }
}
