.about-section {
  background-color: #6BA5E8;
  @media(max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

hr {
  border-color: white;
  border-width: 1px;
  margin-bottom: 20px;
}

.paragraph {
  margin-top: 15px;
  max-width: 888px;
  margin: 0 auto;
}
