//Start General Styles



.slider {
  // background: url('../../images/hero-bg.jpg');
  background-color: blue;
  position: relative;
  display: flex;
  align-items: center;
  background-position: center 66%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  max-height: 800px;

  &:before {
    display: block;
    content: "";
    padding-top: 47%;
  }

}

h1 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;
}

h3 {
  color: white;
}
