.nav-section {
  background: #6BA5E8;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.nav-bar {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.gutter {
  padding-top: 15px;
  padding-bottom: 15px;
}

h2 {
  margin-bottom: 0;
  margin-right: 50px;
}

a, .header4 {
  color: white;
  text-transform: uppercase;
}

.nav-menu {
  display: flex;
}

li {
  margin-left: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  &:first-child {
    margin-left: 0;
  }
  @media(max-width: 464px) {
    margin-top: 10px;
  }
}
